body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #003852;
  color: #e8f1f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: url(./assets/imgs/header.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .9;
  height:200px;
  width: 100%;
  margin: 0;
  color: white;
  background-color: #030F24;
  text-shadow: 2px 2px #030F24;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  opacity: 1;
}

li {
  list-style: none;
  opacity: 1;
}

nav li:hover {
  text-decoration: none;
  color: #0bb6ff;
  font-weight: bolder;
}

nav  li {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
}

.navActive {
  color: #f8d53a;
}

.navActive:hover {
  color: #f8d53a;
}

main{
  position: relative;
  min-height: 65vh;
  border-top: 4px solid #e8f1f2;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.space-between {
  justify-content: space-between;
}

.flex-start{
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
  justify-self: flex-end;
}

.mx-2 {
  margin-right: calc(1.5rem);
  margin-left: calc(1.5rem);
}

.mx-3 {
  margin-right: calc(2rem);
  margin-left: calc(2rem);
}

.mx-5 {
  margin-right: calc(4rem);
  margin-left: calc(4rem);
}

.my-3 {
  margin-top: calc(2rem);
  margin-bottom: calc(2rem);
}

.my-5 {
  margin-top: calc(4rem);
  margin-bottom: calc(4rem);
}

.img{
  width: 200px;
  border: 4px solid #e8f1f2;
}

footer a img {
  width: 64px;
  margin: 20px calc(2rem);
  filter: grayscale(100%) contrast(60%);
  transition: all 0.3s;
}

footer a img:hover {
  filter: contrast(130%);
}

.p{
  text-indent: 50px;
}

.project-container{
  position: relative;
  margin: 30px 50px;
  height: 250px;
  width: 450px;
}

.project-img {
  width:100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.project-container:hover .project-img{
  filter: brightness(30%);
  -webkit-transform: scale(.98);
  -moz-transform: scale(.98);
  -o-transform: scale(.98);
  -ms-transform: scale(.98);
  transform: scale(.98);
}

.project-text{
  position:absolute;
  top: 50px;
  left: 50px;
  opacity: 0;
}

.project-container:hover .project-text{
  opacity: 1;
}

.project-link{
  text-decoration: none;
  color: rgba(256, 256, 256, .6);
}

.project-link:hover{
  color: rgba(256, 256, 256, 1);
}

.repo-link img{
  width: 32px;
  filter: invert(60%);
  -webkit-filter: invert(60%);
  margin: 0 30px;
}

.repo-link img:hover{
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.bold{
  font-weight: 700;
  font-size: x-large;
}

.ul li{
  list-style: circle;
  padding: 5px 0;
}

p{
  font-size: large;
  font-weight: 400;
}

form {
  width: 40%;
  display: block;
}

section h1 {
  font-size: xx-large;
}

label {
  display:block;
  padding: 20px 0;
  font-size: large;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid #030F24;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
  resize: none;
  outline: none;
}

.error-text{
  font-size: large;
  font-weight: 600;
  
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

button {
	background: #030F24;
	border: 2px solid #cccccc;
	border-radius: 5px;
	color: #e8f1f2;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

@media screen and (max-width: 980px) {
  form {
    width: 65%
  }
}

@media screen and (max-width: 768px) {
  .project-container{
    margin: 30px 0;
    height: auto;
  }

  .mx-5{
    margin-right: calc(2rem);
    margin-left: calc(2rem);
  }

  form {
    width: 80%;
  }
}