body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background: url(./assets/imgs/header.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .9;
  height:200px;
  width: 100%;
  margin: 0;
  color: #E8F1F2;
  background-color: #030F24;
  text-shadow: 2px 2px #030F24;
}

.title {
  opacity: 1;
}

li {
  list-style: none;
  opacity: 1;
}

nav li:hover {
  text-decoration: none;
  color: #0bb6ff;
  font-weight: bolder;
}

nav  li {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
}

.navActive {
  color: #f8d53a;
}

.navActive:hover {
  color: #f8d53a;
}

body {
  background-color: #575a4b;
  color: white;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
  justify-self: flex-end;
}

.mx-2 {
  margin-right: calc(1.5rem);
  margin-left: calc(1.5rem);
}

.mx-3 {
  margin-right: calc(2rem);
  margin-left: calc(2rem);
}

.mx-5 {
  margin-right: calc(4rem);
  margin-left: calc(4rem);
}

.my-5 {
  margin-top: calc(4rem);
  margin-bottom: calc(4rem);
}

form {
  width: 40%;
  display: block;
  ;
}

label {
  display:block;
  padding: 20px 0;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.error-text{
  font-size: large;
  font-weight: 600;
  
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

button {
	background: #030F24;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}
